<% columns_to_update.each do |col| %>
  <% styles = status_style(col) %>
  <%= turbo_stream.replace "count-#{col}" do %>
    <span
      id="count-<%= col %>"
      class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold ring-1 ring-inset <%= styles[:pill] %>"
    >
      <%= column_counts[col] %>
    </span>
  <% end %>

  <%= turbo_stream.update col do %>
    <%= render partial: "bookings/column_items", locals: { bookings: column_bookings[col], status_key: col } %>
  <% end %>
<% end %>
