<div class="flex gap-3">  
  <div class="bg-gray-50 w-64 p-5 rounded-lg border-gray-100 border-2 col-span-1">
    <%= render partial: "shared/header", locals: {heading: "Settings", svg: nil} %>
    <%= render partial: "settings/nav" %>
  </div>
  <div class="w-full">
    <%= turbo_frame_tag "settings-content" do %>
      <%= render partial: "shared/components/buttons/link", locals: {path: new_user_path, label: "Create User", svg: nil} %>
      <div class="overflow-x-auto bg-white rounded-xl mt-4 shadow-sm border border-gray-200">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase">
                Name
              </th>
              <th class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase">
                email
              </th>
              <th class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase">
                Role
              </th>
            </tr>
          </thead>

          <tbody id="users" class="divide-y divide-gray-100">
            <% if @users.present? %>
              <%= render @users %>
            <% else %>
              <td id="empty-state" class="text-center py-10 opacity-80" colspan="4">
                <%= render partial: "shared/components/buttons/link", locals: {path: new_user_path, label: "Add User", svg: nil} %>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div> 
</div>
